[*.cs]

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = silent

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = silent

# SA1133: Do not combine attributes
dotnet_diagnostic.SA1133.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# SA1633: The file header is missing or not located at the top of the file.
dotnet_diagnostic.SA1633.severity = silent

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = error

# SA1128: Unused using should be removed
dotnet_diagnostic.S1128.severity = Error

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none
